.container {
  @apply flex justify-center items-center pt-28 sm:pt-32 pb-32 lg:pb-36 lg:pt-36 px-4 sm:px-8 lg:px-20 min-h-screen bg-[url('/images/background_general.webp')] bg-cover bg-center bg-fixed transition-all;
}

/* ABOUT US */

.about_us_container {
  @apply m-auto py-10 px-8 md:px-24 lg:px-32 max-w-[1000px] bg-primaryBlue text-center text-white;
}

/* CONTACT */

.contact_container {
  @apply m-auto py-10 px-8 md:px-24 lg:px-32 max-w-[800px] bg-primaryBlue text-center text-white;
}

.contact_item {
  @apply flex flex-row justify-start items-center mb-8;
}

.contact_icon {
  @apply text-[24px] sm:text-[32px] lg:text-[48px];
}

.contact_content {
  @apply ml-4 lg:ml-12 tracking-widest text-[16px] sm:text-[20px] md:text-[22px] lg:text-[26px];
}

/* CLIENTS */

.clients_container {
  @apply flex justify-center items-center pt-20 sm:pt-28 pb-32 lg:pb-36 lg:pt-32 px-4 sm:px-8 lg:px-20 min-h-screen bg-white bg-cover bg-center transition-all;
}

/* .grid_container {
  @apply flex flex-row flex-wrap justify-center gap-x-6 gap-y-6 sm:gap-x-10 sm:gap-y-8 md:gap-x-14 md:gap-y-12 lg:gap-x-16 lg:gap-y-16 max-w-[1200px];
} */

.grid_container {
  @apply grid place-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-x-6 gap-y-6 sm:gap-x-10 sm:gap-y-8 md:gap-x-14 md:gap-y-12 lg:gap-x-16 lg:gap-y-16 max-w-[1200px];
}

/* .logo_container {
  @apply w-32 h-20 sm:w-40 sm:h-28 md:w-48 md:h-32 lg:w-64 lg:h-40;
  position: relative;
} */

.logo_container {
  /* width: 100%; */
  position: relative;
}

.logo_container img {
  object-fit: contain !important;
  /* width: initial !important; */
  max-width: 180px !important;
  max-height: 120px !important;
  min-height: 50px !important;
  position: relative !important;
}

@media (min-width: 768px) {
  .logo_container img {
    max-width: 140px !important;
    max-height: 80px !important;
  }
}

@media (min-width: 1024px) {
  .logo_container img {
    max-width: 180px !important;
    max-height: 120px !important;
  }
}

/* WORKS */

.works_container {
  @apply flex flex-col justify-start items-center pt-20 sm:pt-28 pb-32 lg:pb-36 lg:pt-32 px-4 sm:px-8 lg:px-20 min-h-screen w-full bg-cover bg-center bg-fixed bg-blend-lighten transition-all bg-white;
}

.backdrop {
  @apply flex flex-col justify-start items-center pt-20 sm:pt-28 pb-20 lg:pb-24 lg:pt-32 px-4 sm:px-8 lg:px-20 min-h-screen w-full bg-cover bg-center bg-fixed bg-blend-lighten transition-all;
}

.works_title {
  @apply text-xl md:text-3xl text-primaryBlue tracking-widest;
}

.works_category {
  @apply flex flex-row flex-wrap justify-center items-center gap-x-10 gap-y-4 text-primaryBlue my-12;
}

.category_active {
  @apply text-secondaryPink;
}

.works_list {
  @apply max-w-[800px] lg:max-w-[1000px] flex flex-row flex-wrap justify-center gap-8 md:gap-12 lg:gap-16 xl:gap-20;
}

.work_container {
  @apply relative w-64 h-64 sm:w-48 sm:h-48 lg:w-60 lg:h-60 transition-all hover:bg-zinc-600 pointer-events-none;
}

.work_preview_container {
  @apply bg-white flex flex-row relative;
}

/* w-32 h-20 sm:w-40 sm:h-28 md:w-48 md:h-32 lg:w-[800px] lg:h-[600px]  */
